<div class="options">
    <mat-form-field appearance="outline">
        <mat-label>Search items</mat-label>
        <input matInput type="text" [(ngModel)]="search" (keyup)="searchItems()">
        <div *ngFor="let item of filteredItems">
            <a routerLink="/store/item/{{item._id}}">{{ item.name }}</a>
        </div>
        <div *ngIf="filteredItems.length == 0 && search.length !=0 && searching != true ">
            <p>No results found.</p>
        </div>
    </mat-form-field>
    <div class="buttons">
        <button mat-raised-button color="primary" class="toCart grey-button" routerLink="/store/wishlist">
            <mat-icon>cake</mat-icon>
            Wishlist
        </button>
        <button mat-raised-button color="primary" class="toCart green-button" routerLink="/store/cart">
            <mat-icon>shopping_cart</mat-icon>
            Cart
        </button>
    </div>
</div>

<h2>Games on Sale</h2>
<hr>
<mat-grid-list cols="{{cols}}" rowHeight="20rem">
    <mat-grid-tile *ngFor="let element of items">
        <a routerLink="/store/item/{{element._id}}">
            <mat-card>
                <img src="assets/images/{{element.principal_image}}">
                <mat-card-title d-flex align-items-center>
                    {{element.name}}
                </mat-card-title>
            </mat-card>
        </a>
    </mat-grid-tile>
</mat-grid-list>