<ng-container *ngIf="items.length > 0">
    <div class="mat-elevation-z3">
        <div class="example-table-container">
          <table mat-table [dataSource]="dataSource">
      
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let item">  
                  <a routerLink="/store/item/{{item._id}}">{{item.name}}</a>
              </td>
            </ng-container>
      
            <ng-container matColumnDef="Type">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let item"> {{item.type}} </td>
            </ng-container>
      
            <ng-container matColumnDef="Price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let item"> {{item.price}} </td>
            </ng-container>
      
            <ng-container matColumnDef="Remove">
              <th mat-header-cell class="last" *matHeaderCellDef> Remove </th>
              <td mat-cell class="last" *matCellDef="let item"> 
                <button mat-mini-fab color="primary" (click)="remove(item)">
                  ✖
                </button>
              </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      
        <mat-toolbar>
          <mat-toolbar-row>
            <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons
              aria-label="Select page of periodic items">
            </mat-paginator>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
</ng-container>
<ng-container *ngIf="items.length == 0">
    <h1>Your Wishlist is Empty</h1>
</ng-container>
